In [1]:
import pandas as pd
from numpy import datetime64
import numpy as np
import os

parent_directory = os.path.dirname(os.getcwd())
full_path = os.path.join(parent_directory, '1.Data', 'eta_prediction.csv')



pd.set_option('display.max_rows', None)
df = pd.read_csv(full_path)

df.columns = ["Loc", "Vehicle", "ShipNo", "Start-Lng", "Start-Lat", "Dest-Lng", "Dest-Lat", 
    "Time-1", "Time-2", "Time-3", "Time-4", "Time-5"]

for i in range(5):
    column = "Time-"+ str(i+1)
    df[column] = pd.to_datetime(df[column], errors = 'coerce', format='%Y-%m-%d %H:%M:%S')

convert_dict = {"Loc": str, "Vehicle": str, "ShipNo": str, "Start-Lng": str, "Start-Lat": str, "Dest-Lng": str, "Dest-Lat": str,
    "Time-5": datetime64, "Time-5": datetime64, "Time-5": datetime64, "Time-5": datetime64, "Time-5": datetime64}
df = df.astype(convert_dict)

df["planDurn"] = df["Time-2"].dropna()-df["Time-1"].dropna()
df["actDurn"] = df["Time-4"].dropna()-df["Time-3"].dropna()
df["planTaskTime"] = df["Time-5"].dropna()-df["Time-1"].dropna()
df["actTaskTime"] = df["Time-5"].dropna()-df["Time-3"].dropna()
#df["plannedRemainTime"] = df["Time-5"].dropna().astype(datetime64)-df["Time-2"].dropna().astype(datetime64)
#df["actualRemainTime"] = df["Time-5"].dropna().astype(datetime64)-df["Time-4"].dropna().astype(datetime64)

df['companyCode'] = df['ShipNo'].str[:3]
df['sysCode'] = df['ShipNo'].str[:7].str[4:]
df['countryCode'] = df['ShipNo'].str[:11].str[8:]
df['warehouse'] = df['ShipNo'].str[:16].str[12:]
df['shipNo'] = df['ShipNo'].str[-9:]



df = df.rename({"Time-1": "planStartTime", "Time-2": "planEndTime", "Time-3": "actStartTime", 
    "Time-4": "actEndTime", "Time-5": "MiscTime"}, axis = "columns")

df["origLoc"] = df[["Start-Lng", "Start-Lat"]].agg(', '.join, axis=1)
df["destLoc"] = df[["Dest-Lng", "Dest-Lat"]].agg(', '.join, axis=1)
df = df.drop(["Start-Lng", "Start-Lat", "Dest-Lng", "Dest-Lat", 'ShipNo'], axis=1)

cols = ["Loc", "Vehicle", "warehouse", "shipNo", "origLoc", "destLoc", "planStartTime", "planEndTime", "actStartTime", "actEndTime", 
    "MiscTime", "planDurn", "actDurn", "planTaskTime", "actTaskTime", "countryCode", "sysCode", "companyCode"]

df = df[cols]

df.head(15)

/var/folders/rx/s42f27kn5j5ddqzlhz7qr2yw0000gn/T/ipykernel_94588/977526078.py:9: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_backup = pd.read_csv("/Users/ytsang/Desktop/FYP/1.Data/eta_prediction.csv")
/var/folders/rx/s42f27kn5j5ddqzlhz7qr2yw0000gn/T/ipykernel_94588/977526078.py:21: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  df = df.astype(convert_dict)

,Loc,Vehicle,warehouse,shipNo,origLoc,destLoc,planStartTime,planEndTime,actStartTime,actEndTime,MiscTime,planDurn,actDurn,planTaskTime,actTaskTime,countryCode,sysCode,companyCode
0,CHN,NO-LIMIT,TSX0,000182436,"31.31611, 121.11576","30.93646, 121.46803",2017-02-07,2017-02-07 01:01:28,2019-01-16 22:04:04,NaT,2017-02-08 23:59:00,0 days 01:01:28,NaT,1 days 23:59:00,-707 days +01:54:56,CHN,TMS,LFL
1,CHN,NO-LIMIT,TSX0,000182584,"31.31611, 121.11576","30.93646, 121.46803",2017-02-07,2017-02-07 01:01:28,2019-01-16 22:04:04,NaT,2017-02-08 23:59:00,0 days 01:01:28,NaT,1 days 23:59:00,-707 days +01:54:56,CHN,TMS,LFL
2,CHN,NO-LIMIT,TSX0,000183341,"31.31611, 121.11576","30.93646, 121.46803",2017-02-07,2017-02-07 01:01:28,2019-01-16 22:04:04,NaT,2017-02-08 23:59:00,0 days 01:01:28,NaT,1 days 23:59:00,-707 days +01:54:56,CHN,TMS,LFL
3,CHN,NO-LIMIT,TSX0,000183345,"31.31611, 121.11576","30.93646, 121.46803",2017-02-07,2017-02-07 01:01:28,2019-01-16 22:04:04,NaT,2017-02-08 23:59:00,0 days 01:01:28,NaT,1 days 23:59:00,-707 days +01:54:56,CHN,TMS,LFL
4,CHN,NO-LIMIT,TSX0,000183763,"31.31611, 121.11576","30.93646, 121.46803",2017-02-07,2017-02-07 01:01:28,2019-01-16 22:04:04,NaT,2017-02-08 23:59:00,0 days 01:01:28,NaT,1 days 23:59:00,-707 days +01:54:56,CHN,TMS,LFL
5,CHN,NO-LIMIT,TSX0,000849539,"31.04988, 120.78709","31.38743, 121.47725",2018-01-16,2018-01-16 01:16:49,2019-01-15 12:40:00,NaT,NaT,0 days 01:16:49,NaT,NaT,NaT,CHN,TMS,LFL
6,CHN,NO-LIMIT,TSX0,000849540,"31.04988, 120.78709","31.38743, 121.47725",2018-01-16,2018-01-16 01:16:49,2019-01-15 12:40:00,NaT,NaT,0 days 01:16:49,NaT,NaT,NaT,CHN,TMS,LFL
7,CHN,NO-LIMIT,TSX0,000849541,"31.04988, 120.78709","31.38743, 121.47725",2018-01-16,2018-01-16 01:16:49,2019-01-15 12:40:00,NaT,NaT,0 days 01:16:49,NaT,NaT,NaT,CHN,TMS,LFL
8,CHN,NO-LIMIT,TSX0,000849542,"31.04988, 120.78709","31.38743, 121.47725",2018-01-16,2018-01-16 01:16:49,2019-01-15 12:40:00,NaT,NaT,0 days 01:16:49,NaT,NaT,NaT,CHN,TMS,LFL
9,CHN,NO-LIMIT,TSX0,000849545,"31.04988, 120.78709","31.38743, 121.47725",2018-01-16,2018-01-16 01:16:49,2019-01-15 12:40:00,NaT,NaT,0 days 01:16:49,NaT,NaT,NaT,CHN,TMS,LFL
10,CHN,NO-LIMIT,TSX0,000849546,"31.04988, 120.78709","31.38743, 121.47725",2018-01-16,2018-01-16 01:16:49,2019-01-15 12:40:00,NaT,NaT,0 days 01:16:49,NaT,NaT,NaT,CHN,TMS,LFL
11,CHN,NO-LIMIT,TSX0,000849547,"31.04988, 120.78709","31.38743, 121.47725",2018-01-16,2018-01-16 01:16:49,2019-01-15 12:40:00,NaT,NaT,0 days 01:16:49,NaT,NaT,NaT,CHN,TMS,LFL
12,CHN,NO-LIMIT,TSX0,000849548,"31.04988, 120.78709","31.38743, 121.47725",2018-01-16,2018-01-16 01:16:49,2019-01-15 12:40:00,NaT,NaT,0 days 01:16:49,NaT,NaT,NaT,CHN,TMS,LFL
13,CHN,NO-LIMIT,TSX0,000849549,"31.04988, 120.78709","31.38743, 121.47725",2018-01-16,2018-01-16 01:16:49,2019-01-15 12:40:00,NaT,NaT,0 days 01:16:49,NaT,NaT,NaT,CHN,TMS,LFL
14,CHN,NO-LIMIT,TSX0,000849550,"31.04988, 120.78709","31.38743, 121.47725",2018-01-16,2018-01-16 01:16:49,2019-01-15 12:40:00,NaT,NaT,0 days 01:16:49,NaT,NaT,NaT,CHN,TMS,LFL

In [8]:
#Current Strategy for Testing the Data
#data set = HKG, Date = 2019-01-02, Time = 11:40:55

df_hkg = df[df["Loc"] == "HKG"]
df_hkg["Date"] = df_hkg["planStartTime"].dt.date.astype(str)
df_hkg = df_hkg[df_hkg["Date"] == "2019-01-02"].drop({"Date"}, axis=1)
#df_hkg["Time"] = df_hkg["planStartTime"].dt.time.astype(str)
#df_hkg = df_hkg[df_hkg["Time"] == "11:40:55"].drop({"Time"}, axis=1).sort_values(by=["planStartTime"])
#df_hkg = df_hkg.drop_duplicates(subset=['destLoc'], keep="first", inplace=False)
df_hkg.index = np.arange(1, len(df_hkg) + 1)

#Assume only go to a dest once per journey
#1.Actual Start Time >= Planned Start Time
#2. Plan Duration > 0
#3. Actual Duration > 0
#4. Time-4 Not Null
#5. Check Time 1-3 Null? If null then drop
#6. Cal journey time by OSM, and set threshold for the actual Duration, intial 10 times

#df_hkg = df_hkg.drop_duplicates(subset=['Loc', 'Vehicle', 'origLoc', 'destLoc', 'planStartTime', 'planEndTime'], keep="first", inplace=False)
df_hkg.head(5)

,Loc,Vehicle,warehouse,shipNo,origLoc,destLoc,planStartTime,planEndTime,actStartTime,actEndTime,MiscTime,planDurn,actDurn,planTaskTime,actTaskTime,countryCode,sysCode,companyCode,is_duplicated,is_duplicated_index
1,HKG,LF-DUMMY,TSX0,001873957,"22.44591, 114.03469","22.44898, 114.01153",2019-01-02 11:40:54,2019-01-02 11:44:54,2019-01-02 11:40:54,NaT,2019-01-02 21:00:00,0 days 00:04:00,NaT,0 days 09:19:06,0 days 09:19:06,HKG,TMS,LFL,False,0
2,HKG,LF-DUMMY,TSX0,001873963,"22.44591, 114.03469","22.44898, 114.01153",2019-01-02 11:40:54,2019-01-02 11:44:54,2019-01-02 11:40:54,NaT,2019-01-02 21:00:00,0 days 00:04:00,NaT,0 days 09:19:06,0 days 09:19:06,HKG,TMS,LFL,True,0
3,HKG,VAN-1_6,TSW0,025790170,"22.45055, 114.01209","22.28942, 113.9412",2019-01-02 06:00:00,2019-01-02 07:51:09,2019-01-02 06:00:00,2019-01-07 01:43:49,2019-01-02 21:00:00,0 days 01:51:09,4 days 19:43:49,0 days 15:00:00,0 days 15:00:00,HKG,TMS,LFL,False,0
4,HKG,VAN-1_6,TSW0,025799048,"22.45055, 114.01209","22.44591, 114.03469",2019-01-02 06:00:00,2019-01-02 07:51:09,2019-01-02 06:00:00,2019-01-07 01:43:49,2019-01-02 21:00:00,0 days 01:51:09,4 days 19:43:49,0 days 15:00:00,0 days 15:00:00,HKG,TMS,LFL,False,0
5,HKG,VAN-3_2,TSX0,001873962,"22.45055, 114.01209","22.20682, 114.02839",2019-01-02 11:40:55,2019-01-02 15:14:23,2019-01-02 11:40:55,NaT,2019-01-02 21:00:00,0 days 03:33:28,NaT,0 days 09:19:05,0 days 09:19:05,HKG,TMS,LFL,False,0

In [2]:
#primary_list: [columns] agg_col: columns to be aggregated to the new df
def drop_duplicate(dataframe, agg_col:str, primary_lists:list):
    ascend_boolean = []
    for item in primary_lists:
        ascend_boolean.append(True)
    dataframe.sort_values(primary_lists, axis=0, ascending=ascend_boolean, inplace=True, na_position="first")

    col_name = list(dataframe.columns.values)
    col_loc = col_name.index(agg_col)

    agg_col_cloned = agg_col+"_index"
    
    dataframe['is_duplicated'] = dataframe.duplicated(subset=primary_lists)
    
    index = 0
    dataframe["is_duplicated_index"] = 0
    shipNoDict = {}
    shipNoDictKey = []
    checker = False

    for idx, row in dataframe.iterrows():
        shipNoDictKey.append(row[agg_col])
        if row["is_duplicated"] == False:
            dataframe.loc[idx, "is_duplicated_index"] += index
            shipNoDict.update({index: shipNoDictKey})
            index += 1
            shipNoDictKey=[]
        elif row["is_duplicated"] == True:
            dataframe.loc[idx, "is_duplicated_index"] += -1
        
    dataframe = dataframe[dataframe["is_duplicated_index"]!=-1]
    dataframe[agg_col_cloned] = dataframe['is_duplicated_index'].map(shipNoDict)
    col_name[col_loc] = agg_col_cloned
    dataframe = dataframe[col_name]
    col_name[col_loc] = agg_col
    dataframe.rename({agg_col_cloned: agg_col})
    dataframe.reset_index(inplace=True)
    print(dataframe.columns)
    #dataframe = dataframe.drop(['is_duplicated', 'is_duplicated_index', 'index'], axis=1)
    dataframe = dataframe.drop(['index'], axis=1)

    return dataframe

In [10]:

df_hkg = df[df["Loc"] == "HKG"]
df_hkg_cleansed = drop_duplicate(df_hkg, 'shipNo', ['Loc', 'Vehicle', 'origLoc', 'destLoc', 'planStartTime', 'planEndTime', 'actStartTime', 'actEndTime'])
df_hkg_cleansed.to_csv('df_hkg_cleansed.csv')
df_hkg_cleansed.head(20)

Index(['index', 'Loc', 'Vehicle', 'warehouse', 'shipNo_index', 'origLoc',
       'destLoc', 'planStartTime', 'planEndTime', 'actStartTime', 'actEndTime',
       'MiscTime', 'planDurn', 'actDurn', 'planTaskTime', 'actTaskTime',
       'countryCode', 'sysCode', 'companyCode', 'is_duplicated',
       'is_duplicated_index'],
      dtype='object')

,Loc,Vehicle,warehouse,shipNo_index,origLoc,destLoc,planStartTime,planEndTime,actStartTime,actEndTime,MiscTime,planDurn,actDurn,planTaskTime,actTaskTime,countryCode,sysCode,companyCode,is_duplicated,is_duplicated_index
0,HKG,10T-17,OBX0,[002237149],"22.36991, 114.13556","22.27744, 114.16519",2019-12-02 08:00:00,2019-12-02 11:14:17,2019-12-02 08:00:00,NaT,2019-12-02 20:00:00,0 days 03:14:17,NaT,0 days 12:00:00,0 days 12:00:00,HKG,TMS,LFL,False,0
1,HKG,10T-17,OBX0,"[002237167, 002237301, 002237342, 002237352, 0...","22.36991, 114.13556","22.27821, 114.18209",2019-12-02 08:00:00,2019-12-02 11:06:04,2019-12-02 08:00:00,NaT,2019-12-02 20:00:00,0 days 03:06:04,NaT,0 days 12:00:00,0 days 12:00:00,HKG,TMS,LFL,False,1
2,HKG,10T-17,OBX0,"[002237209, 002237355, 002237423, 002237504, 0...","22.36991, 114.13556","22.27825, 114.18215",2019-12-02 08:00:00,2019-12-02 11:06:04,2019-12-02 08:00:00,NaT,2019-12-02 20:00:00,0 days 03:06:04,NaT,0 days 12:00:00,0 days 12:00:00,HKG,TMS,LFL,False,2
3,HKG,10T-17,OBW0,"[002237137, 002237138, 002237144, 002237176, 0...","22.36991, 114.13556","22.2783, 114.1801",2019-12-02 08:00:00,2019-12-02 09:14:53,2019-12-02 08:00:00,2019-12-01 23:31:50,2019-12-02 18:00:00,0 days 01:14:53,-1 days +15:31:50,0 days 10:00:00,0 days 10:00:00,HKG,TMS,LFL,False,3
4,HKG,10T-17,OBX0,"[029090934, 029090935, 002237100]","22.36991, 114.13556","22.27859, 114.18517",2019-12-02 08:00:00,2019-12-02 11:14:17,2019-12-02 08:00:00,NaT,2019-12-02 20:00:00,0 days 03:14:17,NaT,0 days 12:00:00,0 days 12:00:00,HKG,TMS,LFL,False,4
5,HKG,10T-17,OBX0,"[002237125, 002237127, 002237139, 002237145, 0...","22.36991, 114.13556","22.28042, 114.18443",2019-12-02 08:00:00,2019-12-02 11:14:17,2019-12-02 08:00:00,NaT,2019-12-02 20:00:00,0 days 03:14:17,NaT,0 days 12:00:00,0 days 12:00:00,HKG,TMS,LFL,False,5
6,HKG,10T-17,OBX0,"[002237115, 002237123, 002237227, 002237250, 0...","22.36991, 114.13556","22.28588, 114.15813",2019-12-02 08:00:00,2019-12-02 09:56:20,2019-12-02 08:00:00,NaT,2019-12-02 20:00:00,0 days 01:56:20,NaT,0 days 12:00:00,0 days 12:00:00,HKG,TMS,LFL,False,6
7,HKG,10T-17,OBW0,"[002237136, 002237141, 002237158, 002237208, 0...","22.36991, 114.13556","22.29525, 114.16511",2019-12-02 08:00:00,2019-12-02 09:14:53,2019-12-02 08:00:00,2019-12-01 23:31:50,2019-12-02 18:00:00,0 days 01:14:53,-1 days +15:31:50,0 days 10:00:00,0 days 10:00:00,HKG,TMS,LFL,False,7
8,HKG,10T-17,OBX0,"[029075068, 029090921, 029090922, 002237107]","22.36991, 114.13556","22.29525, 114.16511",2019-12-02 08:00:00,2019-12-02 09:56:20,2019-12-02 08:00:00,NaT,2019-12-02 20:00:00,0 days 01:56:20,NaT,0 days 12:00:00,0 days 12:00:00,HKG,TMS,LFL,False,8
9,HKG,10T-17,OBX0,"[002237361, 002237518, 002237681, 002237682, 0...","22.36991, 114.13556","22.29705, 114.16849",2019-12-02 08:00:00,2019-12-02 09:57:24,2019-12-02 08:00:00,NaT,2019-12-02 20:00:00,0 days 01:57:24,NaT,0 days 12:00:00,0 days 12:00:00,HKG,TMS,LFL,False,9
10,HKG,10T-17,OBX0,"[002237159, 002237179, 002237193, 002237244, 0...","22.36991, 114.13556","22.30067, 114.17219",2019-12-02 08:00:00,2019-12-02 09:56:20,2019-12-02 08:00:00,NaT,2019-12-02 20:00:00,0 days 01:56:20,NaT,0 days 12:00:00,0 days 12:00:00,HKG,TMS,LFL,False,10
11,HKG,10T-17,OBW0,"[002237362, 002237519, 002237520, 002237697, 0...","22.36991, 114.13556","22.30098, 114.17025",2019-12-02 08:00:00,2019-12-02 09:14:53,2019-12-02 08:00:00,2019-12-01 23:31:50,2019-12-02 18:00:00,0 days 01:14:53,-1 days +15:31:50,0 days 10:00:00,0 days 10:00:00,HKG,TMS,LFL,False,11
12,HKG,10T-17,OBX0,"[029090926, 002237110]","22.36991, 114.13556","22.30343, 114.16303",2019-12-02 08:00:00,2019-12-02 09:30:00,2019-12-02 08:00:00,NaT,2019-12-02 20:00:00,0 days 01:30:00,NaT,0 days 12:00:00,0 days 12:00:00,HKG,TMS,LFL,False,12
13,HKG,10T-17,OBX0,"[002237118, 002237128, 002237146, 002237151, 0...","22.36991, 114.13556","22.31631, 113.93555",2019-12-02 08:00:00,2019-12-02 09:31:47,2019-12-02 08:00:00,NaT,2019-12-02 20:00:00,0 days 01:31:47,NaT,0 days 12:00:00,0 days 12:00:00,HKG,TMS,LFL,False,13
14,HKG,10T-17,OBW0,"[002237165, 002237168, 002237220, 002237225, 0...","22.36991, 114.13556","22.323, 114.16979",2019-12-02 08:00:00,2019-12-02 09:14:53,2019-12-02 08:00:00,2019-12-01 23:31:50,2019-12-02 18:00:00,0 days 01:14:53,-1 days +15:31:50,0 days 10:00:00,0 days 10:00:00,HKG,TMS,LFL,False,14
15,HKG,10T-17,OBX0,"[029075075, 029075076, 029090930, 029090931, 0...","22.36991, 114.13556","22.32328, 114.17236",2019-12-02 08:00:00,2019-12-02 09:57:24,2019-12-02 08:00:00,NaT,2019-12-02 20:00:00,0 days 01:57:24,NaT,0 days 12:00:00,0 days 12:00:00,HKG,TMS,LFL,False,15
16,HKG,10T-17,OBX0,"[002237379, 002237380, 002237538, 002237699, 0...","22.36991, 114.13556","22.38164, 114.18926",2019-12-02 08:00:00,2019-12-02 08:12:13,2019-12-02 08:00:00,NaT,2019-12-02 20:00:00,0 days 00:12:13,NaT,0 days 12:00:00,0 days 12:00:00,HKG,TMS,LFL,False,16
17,HKG,10T-17,OBW0,"[002237392, 002237470, 002237624, 029075082]","22.36991, 114.13556","22.38164, 114.18926",2019-12-02 08:00:00,2019-12-02 09:14:53,2019-12-02 08:00:00,2019-12-01 23:31:50,2019-12-02 18:00:00,0 days 01:14:53,-1 days +15:31:50,0 days 10:00:00,0 days 10:00:00,HKG,TMS,LFL,False,17
18,HKG,10T-17,OBX0,"[029075083, 029090937, 029090938, 002641999]","22.39021, 114.20701","22.26301, 114.24945",2020-04-08 08:00:00,2020-04-08 12:27:36,2020-04-08 08:00:00,NaT,2020-04-08 20:00:00,0 days 04:27:36,NaT,0 days 12:00:00,0 days 12:00:00,HKG,TMS,LFL,False,18
19,HKG,10T-17,OBX0,[002642497],"22.39021, 114.20701","22.26399, 114.23708",2020-04-08 08:00:00,2020-04-08 12:27:36,2020-04-08 08:00:00,NaT,2020-04-08 20:00:00,0 days 04:27:36,NaT,0 days 12:00:00,0 days 12:00:00,HKG,TMS,LFL,False,19